
body {
    padding-top: 20px;
}

#top {
    /*padding: 25px;*/
}

#topp a {

    font: 1em "Fira Sans", sans-serif;

    margin-left: 10px;
    padding-top: 10px;
    padding: 20px;

}

#topp h2 {
    font: 1.6em "Fira Sans", sans-serif;
    margin-left: 10%;
    padding: 20px;
    display: inline;
}

#nyArtikkel {
    margin-left: 25px;
    padding-top: 25px;
}

ul {
    list-style-type: lower-alpha;
    padding-top: 15px;
    padding-left: 50px;
}


li {
    padding-top: 15px;

    color: grey;
    font: italic 1.2em "Fira Sans", serif;
    /*font: 1.2em "Fira Sans", sans-serif;*/
}

li span.listText {
    padding-right: 20px;
    padding-left: 15px;
    width: 100px;
}

.ico {
    display: none;
    
    width: 32px;
    height: 32px;
    padding-right: 10px;
    vertical-align:middle
}


a {
    /*text-decoration: none;*/
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: dimgrey;
    
}

.urlInput {
    padding: 5px;
    font: 0.95em "Fira Sans", sans-serif;
    margin-right: 30px;
}




.mappeInput {
    padding: 5px;
    font: 0.95em "Fira Sans", sans-serif;
    margin-right: 30px;
}

@media(min-width: 401px) {

    .nyEntitetInput {
        width: 700px;
    }
}

@media(min-width: 0px) and (max-width: 400px ) {

    .nyEntitetInput {
        width: 240px;
    }

    #topp h2 {
        display: block;
        margin-left: 9%;
        padding: 5px;
    }
}